.navbar{
    display: flex;
    align-items: center;
    background-color: #D8C3A5;
    border: 2px solid #8E8D8A;
    width: 100%;
    margin-top: -10.6px;
    margin-left: -8.8px;
    border-radius: 3%;
    position: fixed;
}
.navbar img{
    margin-right: 20px;
}
.niceLinks{
    font-size: 22px;
    text-decoration: none;
    color: #5f5d58;
    padding: 15px;
}
.navbar a{
    justify-content: space-between;
}
#chosen{
    font-size: 22px;
    justify-content: space-between;
    color: #5f5d58;
}
.overCover{
    background-color: #EAE7DC;
    width: 1264.2px;
    height: 130px;
    margin-left: -8.8px;
    margin-top: 5px;
    align-items: center;
    display: flex;
}
#webPageName{
   margin-left: 32px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #E85A4F;
}
.cover{
    display: inline;
}
.leftColumn{
    float: left;
    width: 27%;
    background-color: #EAE7DC;
    margin-left: -7.6px;
    height: 697.5px;
}
.leftColumn ul{
    list-style-type: none;
}
.leftColumnName{
    font-size: 25px;    
    margin-left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E98074;
}
#coverSpacing{
    margin-top: 34px;
}
.coverLinks{
    text-decoration: none;
    display: block;
    margin: 20px;
    margin-left: 4px;
    color: #5f5d58;
    font-size: 18px;
}
.middleColumn{
    float: left;
    width: 43%;
    background-color: #EAE7DC;
    height: 697.5px;
}
#middleCoverPic{
    height: 697.5px;
    width: 577px;
}
.rightColumn{
    width: 28%;
    float: right;
    background-color: #EAE7DC;
    margin-right: -8.1px;
    height: 697.5px;
}
.rightCoverPics{
    display: block;
    height: 341px;
    width: 295px;
    margin-left: 18px;
}
#bottomCoverPic{
    border-top: 15px solid #EAE7DC;
}
main{
    background-color: #EAE7DC;
    margin-left: -7.6px;
    margin-right: -8.1px;
    padding-bottom: 60px;
}
.mainTitle{
    text-align: center;
    height: -100px
}
.mainTitle h2{
    padding-top: 750px;
    padding-bottom: 20px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E85A4F;
}
.mainRow1{
    display: flex;
}
.mainCards{
    height: 293px;
    width: 293px; 
    margin-top: 0px;
}
.rowFirstCard{
    background-color: #dfdacb;
    text-align: center;
    margin-left: 25px;
    width: 293px;
}
.mainCardTittles{

    font-size: 22px;
    color:#5f5d58;
    font-weight: bold;
}
.rowCard{
    background-color: #dfdacb;
    text-align: center;
    margin-left: 15px;
    width: 293px;
}
.mainRow2{
    display: flex;
}
article{
    background-color: #EAE7DC;
    width: 101.3%;
    padding-top: 1px;
    padding-bottom: 300px;
    margin-left: -8px;
}
.sec-1 img{
    float: left;
    height: 380px;
    width: 580px;
    margin-left: 25px;
}
.sec-1 div h3{
    font-size: 25px;
    font-family: 'Poppies', sans-serif;
    margin-left: 625px;
    color: #E85A4F;
    font-weight: 1px;
}
.sec-1 div p{
    font-family: 'Poppies', sans-serif;
    font-size: 14px;
    margin-left: 625px;
    color: #5f5d58;
}
.sec-1 form button{
    margin-left: 25px;
    margin-top: 15px;
    padding: 15px 25px;
    border: 1px solid #8E8D8A;
    border-radius: 8%;
}
.sec-2{
    margin-top: 250px;
}
.sec-2 img{
    float: right;
    height: 380px;
    width: 580px;
    margin-right: 25px;
    margin-top: -40px;
}
.sec-2 div h3{
    font-size: 25px;
    font-family: 'Poppies', sans-serif;
    margin-left: 20px;
    color: #E85A4F;
    font-weight: 1px;
}
.sec-2 div p{
    font-family: 'Poppies', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    color: #5f5d58;
}
.sec-2 form button{
    margin-left: 20px;
    margin-top: 15px;
    padding: 15px 25px;
    border: 1px solid #8E8D8A;
    border-radius: 8%;
}
.readMore{
    text-decoration: none;
    color: #E85A4F;
    font-size: 18px;
}
footer{
    background:linear-gradient(#EAE7DC, #D8C3A5);
    width: 71.3%;
    padding: 120px 15%;
    margin-left: -8.6px;
    color: #5f5d58;
    font-family: 'Poppies', sans-serif;
    display: flex;
}
footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #E85A4F;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: #5f5d58;
    margin: 10px;
}
form input{
    width: 400px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 4%;
    margin-top: 20px;
    margin-bottom: 40px;
}
footer form button{
    background-color: transparent;
    border: 2px solid #8E8D8A;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

